<header class="fixed-top">
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Hello Friend. This is small Task Manager Application with basic crud operations. This
          is only developed for learning purpose.Thank you for watching.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/yohan-rashmitha-5479a3137/" class="text-white">Connect me on Linkedin</a></li>
            <li><a href="https://www.facebook.com/yohan.rashmitha1" class="text-white">Follow me on Facebook</a></li>
            <li><a href="mailto:y.sethunga@gmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img width="30px" src="https://img.icons8.com/plasticine/100/000000/task.png"/>
        <strong>Yohan Task App</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
              aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf=progress></mat-progress-bar>

</header>



